@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #191A19;
    font-family: 'Poppins', sans-serif; ;
    color: #ffffff;
}

.login-section {
    display: flex;
    justify-content: flex-end;
    padding: 10px 30px;
}

.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1e2b21;
    padding: 30px;
    text-align: center;
    box-shadow: 40px;
}

.logo {
    width: 65px;
    height: 65px;
    margin-right: 30px;
    display: block;
    max-width: 100%;
    height: auto;
}

.nav-links {
    text-align: center;
    display: flex;
    align-items: center;
}

.link {
    margin: 0 10px;
    font-size: 18px;
}

.link a {
    text-decoration: none;
    color: #ffffff;
}

.link a:hover {
    color: #2980b9;
}

.logo img {
    display: block;
    margin: 0 auto;
    max-width: 100%;
    height: auto;
}

.background-image {
    background: url(https://store.akamai.steamstatic.com/public/shared/images/joinsteam/new_login_bg_strong_mask.jpg) no-repeat center center fixed;
    background-size: cover;
    height: 50vh;
    width: 100%;
    position: relative;
    z-index: 0;
}

.image-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    text-align: center;
}

.about_cta {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 20px;
}

.about_cta .cta_hero {
    flex: 1;
    text-align: center;
}

.about_cta .hero_complete {
    width: 100%;
    height: auto;
}

.about_cta .cta_content {
    flex: 1;
    padding: 0 20px;
}

.cta_title {
    font-size: 24px;
}

.cta_text {
    font-size: 16px;
}

.logo_steamworks img {
    max-width: 100%;
    height: auto;
  }

#about_steam_feature_subtitle {
    margin-bottom: 24px; 
}

#about_steam_features_area {
    display: grid;
    place-items: center;
    text-align: center;
}

#about_steam_features_grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
    justify-items: center; 
    text-align: center;
}

.feature {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.about_feature_icon img {
    width: 100px;
    height: 100px;
    object-fit: contain;
}

.platform_icon {
    display: flex; 
    justify-content: center;
    margin: 10px;
}

.platform_icon img {
    width: 50px;
    height: 50px;
    object-fit: contain;
}


  
  
  


