* {
    box-sizing: border-box;
}

body {
    background-color: #1e2b21;
    font-family: 'Poppins', sans-serif;
    color: #ffffff;
    text-align: center;
}

/* CSS untuk section game */
.populer {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    width: 90%;
    margin-left: 4%;
    margin-right: 5%;
}

.item {
    margin-left: 5px;
    margin-right: 5px;
}

.populer img {
    border-radius: 10px;
}

.item a {
    color: white;
    text-decoration: none;
}

.item a:hover {
    color: blue;
}

.game-section {
    margin-top: 25px;
    margin-bottom: 25px;
}

/* CSS untuk bagian news baru */
h3 {
    margin-bottom: 10px;
}

.slider {
    margin-top: 50px;
    position: relative;
    text-align: center;
    width: 100%;
    height: 350px;
    overflow: hidden;
}

.mySlides {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.5s ease, visibility 0.5s ease;
}

.mySlides.show {
    opacity: 1;
    visibility: visible;
}

.mySlides img {
    border-radius: 10px;
    vertical-align: middle;
    overflow: hidden;
}

.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: 50%;
    padding: 16px;
    margin-top: -50px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    border-radius: 0 3px 3px 0;
    user-select: none;
    -webkit-user-select: none;
}

.prev {
    left: 0;
    border-radius: 3px 0 0 3px;
}

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}