body {
    background-color: #1e2b21;
    font-family: 'Poppins', sans-serif;
    color: #ffffff;
    text-align: center;
}

/* CSS untuk section game */
.populer {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    width: 90%;
    margin-left: 4%;
    margin-right: 5%;
    position: relative;
}

.item {
    margin-left: 5px;
    margin-right: 5px;
    position: relative;
}

.populer img {
    border-radius: 10px;
}

.item a {
    color: white;
    text-decoration: none;
}

.game-section {
    margin-top: 25px;
    margin-bottom: 25px;
}

.overlay {
    position: absolute;
    top: 50%;
    bottom: 0;
    left: 0;
    right: 0;
    height: 147px;
    width: 300px;
    margin: auto;
    opacity: 0;
    transition: .5s ease;
    background-color: rgba(0, 0, 0, 0.398);
    box-sizing: border-box;
    border-radius: 10px;
}

.populer:hover .overlay {
    opacity: 0;
}

.detail {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 5%;
    transform: translateY(-50%);
    text-align: left;
}

/* CSS untuk bagian news */
.slider {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 65%;
}

.slider h4 {
    margin-top: 5%;
}

.slides {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    width: 37.5rem;
    overflow: hidden;
}

.slides img {
    border-radius: 10px;
}

.slide {
    width: 37.5rem;
    transition: .5s;
}

.choose_1:checked~.slides>.s1 {
    margin-left: -0rem;
}

.choose_2:checked~.slides>.s1 {
    margin-left: -37.5rem;
}

.s {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}