.over {
    position: fixed;
    display: flex;
    justify-content: center;
    width: 100%;
    transition: display 1s ease-out;
}

.panel h4 {
    border-radius: 0.5em;
    width: fit-content;
    background-color: rgb(149, 255, 149);
    padding: 0.5em 1em;
    margin: 0.5em;
    display: flex;
    gap: 0.5em;  
    color: black;  
}

.panel h4 button {
    background: none;
    padding: 0.25em;
    border: none;
    font-weight: 600;
    font-size: 0.75em;
}

.back {
    position: fixed;
    display: flex;
    justify-content: center;
    width: 100%;
    min-height: 100vh;
    align-items: center;
    z-index: 1;
    transition: opacity 1s ease-out;
    background: rgba(0, 0, 0, 0.5);
}

.warning h3 {
    border-radius: 0.5em;
    width: 20em;
    background-color: rgb(113, 197, 148);
    padding: 2em 3em;
    margin: 0.5em;
    display: flex;
    gap: 0.5em;  
    color: black;  
    display: flex;
    flex-direction: column;
}

.warning h3 button {
    background-color: rgb(46, 54, 48);
    color: white;
    padding: 10px;
    border: none;
    border-radius: 0.3em;
    cursor: pointer;
}