@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

* {
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

.container {
    display: flex;
    background-image: url(../img/bg.png);
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    color: #fff;
}

.login-form {
    background-color: #1e2b21;
    width: 30em;
    height: auto;
    display: flex;
    flex-direction: column;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.heading {
    text-transform: uppercase;
    font-weight: 600;
    font-size: 2em;
    margin: 20px 50px;
    text-align: center;
}

.input-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 20px 0;
}

.label-name {
    margin-left: 1em;
    font-weight: 500;
    text-transform: uppercase;
}

.sign-up {
    margin-top: 20px;
    padding: 10px;
    display: flex;
    justify-content: center;
}

.sign-up button {
    outline: none;
    background: linear-gradient(90deg, #00ff515c 0%, #00b92b 100%);
    border: none;
    color: #fff;
}

.sign-up button:hover {
    color: rgb(6, 46, 8);
}

.btn-submit {
    width: 10em;
    height: 4em;
    justify-content: center;
}

.input-field {
    margin: 2px 1em 10px 1em;
}

.input-field input {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: none;
    background-color: #5b5d61;
}

.have {
    margin: 20px 20px;
    font-weight: 500;
    font-size: 20px;
}

.have a {
    margin-left: 10px;
    color: rgb(191, 191, 191);
    text-decoration: none;
}

.have a:hover {
    text-decoration: underline;
}

.have a:active {
    text-decoration: underline;
}